In [2]:
import pandas as pd

data = [['Julio','emailjulio','julio123'],['Manuel','emailmanuel','manuel123']]
df = pd.DataFrame(data,columns=['First Name','Email','Username'])
df

  First Name        Email   Username
0      Julio   emailjulio   julio123
1     Manuel  emailmanuel  manuel123

In [9]:
new_user = pd.DataFrame(['Hector','emailhector','hector123'])
df = df.append(new_user,ignore_index=True)

df

C:\Users\whect\AppData\Local\Temp\ipykernel_33000\2290555649.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_user,ignore_index=True)

  First Name        Email   Username            0
0      Julio   emailjulio   julio123          NaN
1     Manuel  emailmanuel  manuel123          NaN
2        NaN          NaN        NaN       Hector
3        NaN          NaN        NaN  emailhector
4        NaN          NaN        NaN    hector123